<div class="parent-wrapper">
    <div class="header" id="header_id">
      <div class="logo">
          <img src="../../assets/imgs/logo.png"/>
      </div>
      <div class="nav-options">
          <span>Products</span>
          <span>Solutions</span>
          <span>Pricing</span>
          <button>Login</button>
          <button>Get Started</button>
      </div>
    </div>
    <div class="main-body">
        <div class="left-child-wrapper">
            <div class="bg-small-circle-wrapper"></div>
            <div class="intro-text-wrapper">
                <span class="intro">We make it Super Simple</span>
                <span class="base-tile"></span>
            </div>
            <img class="collect-img" src="../../assets/imgs/collect_img-video.png"/>
            <img class="acc-dots" src="../../assets/svgs/accounting_dots.svg"/>
        </div>
        <div class="right-child-wrapper">
            <div class="bg-circle-wrapper"></div>
            <div class="calculator-wrapper">
                <!-- <div class="calculator">ASD</div>
                <div class="results">
                    <div class="body">
                        <span class="label">Loan Amount</span>
                        <span class="value">&#8377; 1,00,000</span>
                        <span class="label adjust">Your EMI will be</span>
                        <span class="value">&#8377; 15,000</span>
                        <button>Get Money</button>
                    </div>
                </div> -->
                <img src="../../assets/svgs/Group 6.svg"/>
            </div>
        </div>
    </div>
</div>
