@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.parent-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    .header{
        height: 100px;
        width: 100%;
        position: fixed;
        z-index: 9999;
        display: flex;
        align-items: center;
        padding: 0% 2% 0% 2%;
        transition: height 0.5s;
        .logo{
            margin-left: 5rem;
            width: 700px;
            img{
                height:70px;
                transition: height 0.5s;
            }
        }
        .nav-options{
            display: flex;
            flex-direction: row;
            align-items: center;
            span{
                margin-right: 2rem;
                font-weight: bold;
            }
            button{
                margin-right: 1rem;
                border-radius: 20px;
                outline: none;
                height: 30px;
                min-width: fit-content;
                padding:0% 6% 0% 6%;
                text-align: center;
                color:  #663399;
                border: 1px solid #663399;
                cursor: pointer;
                &:last-child{
                    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
                    box-shadow: 0px 0px 20px #00000033;
                    border-radius: 24px;
                    opacity: 1;
                    color: white;
                }
                &:hover{
                    background-color: #663399;
                    color: white;
                }
            }
        }
        &.active{
            background-color: white;
            height: 70px;
            .logo{
                margin-left: 5rem;
                width: 700px;
                img{
                    height:50px;
                }
            }
        }
    }
    .main-body{
        display: flex;
        flex-direction: row;
        height: 800px;
        .left-child-wrapper{
            width: 50%;
            position: relative;
            .bg-small-circle-wrapper{
                height: 50%;
                width: 50%;
                background-image: url('../../assets/svgs/blob-small.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: -10%;
                margin-top: 15%;
            }
            .collect-img{
                margin-top: -40%;
                margin-left:20%;
                height: 260px;
                width: 500px;
            }
            .intro-text-wrapper{
                position: absolute;
                height: 98px;
                width: 300px;
                display: flex;
                flex-direction: column;
                top: 15%;
                left: 28%;
                .intro{
                    width: 300px;
                    text-align: left;
                    font-size:32px;
                    font-weight: bold;
                    line-height: 40px;
                }
                .base-tile{
                    height: 4px;
                    width: 136px;
                    border-radius: 13px;
                    background-color: black;
                    margin-top: 2%  ;
                }
            }
            .acc-dots{
                margin-left: 50%;
                margin-top: -5%;
            }
        }
    }
    .right-child-wrapper{
        width: 50%;
        overflow: hidden;
        position: relative;
        .bg-circle-wrapper{
            height: 100%;
            width: 1200px;
            background-image: url('../../assets/svgs/circle.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: -20%;
            margin-left: -30%;
        }
        .calculator-wrapper{    
            position: absolute;
            top : 10rem;
            left: 5rem;
            display: flex;
            flex-direction: row;
            img{
                height: 500px;
                width: 600px;
            }
            .calculator{
                height: 450px;
                width: 350px;
                border-radius: 20px;
                background-color: white;
                background-color: yellow;
            }
            .results{
                max-height: 300px;
                width: 200px;
                background-color: #6c389e;
                color: white;
                margin-top: 5rem;
                margin-left: 1%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100px;
                    width: 100%;
                    .label{
                        font-size: 1rem;
                        font-weight: bold;
                        margin-bottom: 2%;
                        &.adjust{
                            margin-top: 10%;
                        }
                    }
                    .value{
                        font-size: 1.5rem;
                        margin-bottom: 2%;
                    }
                    button{
                        width: 150px;
                        border-radius: 20px;
                        height: 100px;
                        outline: none;
                        border:none;
                        margin-top: 10%;
                        cursor: pointer;
                        padding: 5%;
                        color: blueviolet;
                        background-color: white;
                    }
                }
            }
        }
    }
}