<div class="parent-wrapper">
    <div class="left-child-wrapper">
        <div class="bg-small-circle-wrapper"></div>
        <div class="intro-text-wrapper">
            <span class="intro">We make it Super Simple</span>
            <span class="base-tile"></span>
        </div>
        <img class="collect-img" src="../../assets/imgs/collect_img-video.png"/>
        <img class="acc-dots" src="../../assets/svgs/accounting_dots.svg"/>
    </div>
    <div class="right-child-wrapper">
        <div class="bg-circle-wrapper"></div>
    </div>
</div>
