<div class="details-parent-wrapper">
    <div class="left-section">
        <div class="details">
           <div class="details-left">
                <div class="details-a">
                    <img src="../../assets/imgs/Get Paid Instantly.png"/>
                    <span class="detail-title">Quick cash disbursement</span>
                    <span class="details-content">Get terms loans that your business needs within 72 hrs</span>
                </div>
                <div class="details-a">
                    <img src="../../assets/imgs/Low interest rate.png"/>
                    <span class="detail-title">Low-interest rate</span>
                    <span class="details-content">Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
                </div>
                <div class="details-a">
                    <img src="../../assets/imgs/Secure Payments.png"/>
                    <span class="detail-title">Zero Paperwork</span>
                    <span class="details-content">Get started instantly by submitting only your basic details & bank statements</span>
                </div>
           </div>
           <div class="details-right">
                <div class="details-b">
                    <img src="../../assets/imgs/freelancer_feature_icon_6@1.5x.png"/>
                    <span class="detail-title">Ace your business finances</span>
                    <span class="details-content">Manage banking, accounting & everything in between, on one platform</span>
                </div>
                <div class="details-b">
                    <img src="../../assets/imgs/Covid.png"/>
                    <span class="detail-title">Loans to fight COVID-19</span>
                    <span class="details-content">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="footer-wrapper">
            <span class="intro">Boost your business with Open</span>
            <span class="base-tile"></span>
            <span class="sub-line">Get your hands on a term loan that’s crafted for your business</span>
        </div>
        <button class="designer-btn">
            Get An Open Account
        </button>
    </div>
</div>